@mixin disabled {
  cursor: not-allowed;
  opacity: .35;
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(:disabled) {
      @content;
    }
  }

  @media (hover: none) {
    &:active:not(:disabled) {
      @content;
    }
  }
}

@mixin focus-visible ($color) {
  &:focus-visible {
    box-shadow:
      0 0 0 2px var(--vsc-white),
      0 0 0 4px $color;
  }
}

@mixin buttonStylesForColor ($colorName, $txtColor) {
  $color: --vsc-#{$colorName};

  background-color: var(#{$color});
  color: $txtColor;

  @include hover {
    background-color: var(#{$color}-dark);
  }

  @include focus-visible(var(#{$color}-dark));

  &.vsc-button_plain {
    background-color: transparent;
    color: var(#{$color});

    @include hover {
      background-color: var(#{$color}-light);
    }

    @include focus-visible(var(#{$color}-light));
  }

  &.vsc-button_outline {
    background-color: transparent;
    border-color: var(#{$color});
    color: var(#{$color});

    @include hover {
      background-color: var(#{$color});
      color: $txtColor;
    }

    @include focus-visible(var(#{$color}));
  }
}