@use "sass:color";
// Отступы.
$vsc-indent: 1rem;
$vsc-indent-half: calc($vsc-indent / 2);
$vsc-indent-quarter: calc($vsc-indent / 4);
$vsc-indent-double: calc($vsc-indent * 2);
// Цвета.
$vsc-black: #000;
$vsc-white: #fff;
// Основные.
$vsc-primary: #007bff;
$vsc-primary-dark: color.scale($vsc-primary, $lightness: -20%);
$vsc-primary-light: color.scale($vsc-primary, $lightness: 80%);
$vsc-accent: #6f42c1;
$vsc-accent-dark: color.scale($vsc-accent, $lightness: -20%);
$vsc-accent-light: color.scale($vsc-accent, $lightness: 80%);
// Статусы.
$vsc-success: #28a745;
$vsc-success-dark: color.scale($vsc-success, $lightness: -20%);
$vsc-success-light: color.scale($vsc-success, $lightness: 80%);
$vsc-error: #dc3545;
$vsc-error-dark: color.scale($vsc-error, $lightness: -20%);
$vsc-error-light: color.scale($vsc-error, $lightness: 80%);
$vsc-warning: #ffc107;
$vsc-warning-dark: color.scale($vsc-warning, $lightness: -20%);
$vsc-warning-light: color.scale($vsc-warning, $lightness: 80%);
$vsc-info: #17a2b8;
$vsc-info-dark: color.scale($vsc-info, $lightness: -20%);
$vsc-info-light: color.scale($vsc-info, $lightness: 80%);
// Градация серого.
$vsc-gray-100: #f8f9fa;
$vsc-gray-200: #e9ecef;
$vsc-gray-300: #dee2e6;
$vsc-gray-400: #ced4da;
$vsc-gray-500: #adb5bd;
$vsc-gray-600: #6c757d;
$vsc-gray-700: #495057;
$vsc-gray-800: #343a40;
$vsc-gray-900: #212529;
// Стили элементов.
$vsc-border: 2px solid;
$vsc-border-radius: 4px;
$vsc-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.35);
$vsc-transition: .3s ease-out;
$vsc-focus: 2px solid $vsc-black;